@import url("https://fonts.googleapis.com/css?family=Lobster:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800,900");

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #4d201d;
    height: 100vh;
}

.page {
    width: 100vw;
    background-color: #4d201d;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg1 {
    height: 30vh;
    position: relative;
    width: 100%;
    background-image: url("./banner.png");
    background-size: cover;
}

.bg2 {
    height: 70vh;
    position: relative;
    width: 100%;
    background: #4d201d;
    background-size: cover;
}

.header {
    display: flex;
    position: absolute;
    flex-direction: column;
    background: inherit;
    column-gap: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.brand-logo {
    width: 120px;
    height: 120px;
    background-image: url("./vs.png");
    background-size: cover;
}

@media screen and (max-width: 375px) {
    .brand-logo {
        width: 80px;
        height: 80px;
    }
}



.brand-title {
    font-size: 1.5rem;
    font-family: Lobster, cursive;
    font-weight: 800;
    color: #fea2a3;
    text-shadow: 2px 2px 2px #4d201d;
}

.sub-brand-title {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 2px #4d201d;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card-content {
    padding-bottom: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: fit-content;
    background-color: #fea2a3;
    top: 27%;
    border-radius: 10px;
}

.callus {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .callbtn {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    width: 80%;
    height: 60px;
    border: 1px solid #4d201d;
    border-radius: 5px;
    color: #4d201d;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);} */






.callbtn {
    align-items: center;
    display: flex;
    height: 60px;
    width: 60px;
    background-color: #4c211d;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #000000 0 -3px 0 inset;
    box-sizing: border-box;
    color: #ffa2a2;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 20px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    font-size: 18px;
}

.callbtn:focus {
    box-shadow: black 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, black 0 -3px 0 inset;
}

.callbtn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, black 0 -3px 0 inset;
    transform: translateY(-2px);
}

.callbtn:active {
    box-shadow: black 0 3px 7px inset;
    transform: translateY(2px);
}


i {
    font-size: 1.8rem;
    font-weight: 800;
}

.text-pop-up-top {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 800;
    color: #4d201d;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn-label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #4d201d;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 70px;
    vertical-align: bottom;
    width: 100vw;
    background-color: #fea2a3;
}

.footer-text1 {
    font-family: Lobster, cursive;
    font-size: 1rem;
    font-weight: 600;
    color: #4d201d;
}

.footer-year {
    font-family: poppins, sans-serif;
}

.footer-text2 {
    font-family: poppins, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: #4d201d;
}

.hd-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
}