@import url("https://fonts.googleapis.com/css?family=Lobster:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800,900");

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #4d201d;
    height: 100vh;
}

.page {
    width: 100vw;
    background-color: #4d201d;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bg1 {
    height: 30vh;
    position: relative;
    width: 100%;
    background-image: url("./banner.png");
    background-size: cover;
}

.bg2 {
    height: 70vh;
    position: relative;
    width: 100%;
    background: #4d201d;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

.brand-logo {
    width: 120px;
    height: 120px;
    background-image: url("./vs.png");
    background-size: cover;
}

@media screen and (max-width: 320px) {
    .brand-logo {
        width: 80px;
        height: 80px;
    }
}



.brand-title {
    font-size: 1.5rem;
    font-family: Lobster, cursive;
    font-weight: 800;
    color: #fea2a3;
    text-shadow: 2px 2px 2px #4d201d;
}

.sub-brand-title {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 2px #4d201d;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card-content {
    padding-bottom: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: fit-content;
    background-color: #fea2a3;
    top: 27%;
    border-radius: 10px;
}

.callus {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

/* .callbtn {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    width: 80%;
    height: 60px;
    border: 1px solid #4d201d;
    border-radius: 5px;
    color: #4d201d;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);} */



.callbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fea2a3;
    background-image: none;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: #4d201d 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #4d201d;
    text-decoration: none;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    overflow: visible;
    padding: 10px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
}

.callbtn:focus {
    text-decoration: none;
}

.callbtn:hover {
    text-decoration: none;
}

.callbtn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.callbtn:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}


i {
    font-size: 1.8rem;
    font-weight: 800;
}

.text-pop-up-top {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 800;
    color: #4d201d;
}

.btn-container {
    display: flex;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn-label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #4d201d;
}